
@{
    ViewData["Title"] = "صفحه اصلی";
}


<section class="about-me-section p-3 p-lg-5 theme-bg-light">
    <div class="container">
        <div class="profile-teaser media flex-column flex-lg-row">
            <img class="profile-image mb-3 mb-lg-0 ml-lg-5 mr-md-0" src="~/assets/images/me.jpg" alt="" />
            <div class="media-body">
                <h2 class="name font-weight-bold mb-1">محمد منافی </h2>
                <div class="tagline mb-3">برنامه نویس دات نت</div>
                <div class="bio mb-4">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
                    طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و
                    جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                </div>
                <div class="mb-4">
                    <a class="btn btn-primary mr-2 mb-3" href="http://www.steeltaha.com">
                        <i class="fas fa-arrow-alt-circle-right ml-2"></i><span class="d-none d-md-inline">
                            برو
                            به
                        </span> استیل طاها
                    </a>
                    <a class="btn btn-secondary mb-3" href="#">
                        <i class="fas fa-file-alt ml-2"></i>
                        <span class="d-none d-md-inline">مشاهده </span> نمونه کارها
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>


@await Component.InvokeAsync("Projects", new { name = "mohammad" })


<div class="container">
    <hr>
</div>


@await Component.InvokeAsync("LatestArticles")


@* rah kare dorost vaghti ke mikhaym ham be sorate daynamic ham be sorate hamzaman
     az view ee be sorate mostaghel estefade konim

    loading is Partial view  is*@



@* end Partial view *@


@* Loading View Components *@



@* End Loading View Components *@



@* be sorate gheir ham zaman kar mikonad cash mikonad *@
@*<partial name="Projects" />*@

@* pas dar natije bayesti az partialAsync ke be sorate hamzan view ro pass midahad etefade kard ama baz ham dynamic nist.. *@
@*@await Html.PartialAsync(partialViewName: "Project")*@

@*@await Html.PartialAsync(partialViewName: "Project", new List<Project>())*@





