<!DOCTYPE html>
<html lang="fa">

<head>
    <title>MyPortfolio | محمد منافی </title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico">

    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/css/theme-1.css" rel="stylesheet" />
    <script src="~/assets/fontawesome/js/all.js"></script>

</head>

<body>

    <partial name="Header" />



    <div class="main-wrapper">

        @RenderBody()

        <partial name="Footer" />

    </div>

    <!-- Javascript -->
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/plugins/jquery-3.4.1.min.js"></script>
    <script src="~/assets/plugins/popper.min.js"></script>
    @* Validation jquery Scripts (unobtrusive) *@
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

</body>

</html>